@import url('weather-icons-wind.css');
@import url('weather-wind.css');

:root {
  --main-color: #3399cc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 24px solid var(--border-color);
    background-color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
    padding: 32px;
}

.hedder {
    margin: 0 auto;
    max-width: var(--max-width);
    margin-bottom: 32px;
}

.title {
    font-size: 24px;
    font-weight: ;
}

.main{
    margin: 0 auto;
  max-width: var(--max-width); 
}

.list__item {
    width: 25%;  
}

.list__item:nth-child(1) {
    background-color: var(--lisabon-color);
    width: 50%;
}

.city {
    border: 2px solid var(--white);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.city:hover {
    opacity: 0.5;
}

.city__name {
    color: var(--white);
    font-weight: 700;
    margin-bottom: 12px;
}

.city__deg {
    font-weight: 400;
    
}